.App {
  text-align: center;
}

h1 {
  color: #f34bb3;
  font-size: 3rem;
  text-transform: uppercase;
}

p {
  margin-top: 6rem;
  color: darkgray;
}

a {
  color: #f34bb3;
  text-decoration: none;
}
